
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

  <p>
    Welcome back: <a href='/login'>Login!</a>
  </p>

  <p>
    Don't have an account? No problem!: <a href='/register'>Register for free!</a>
  </p>

  <h4>
    User: <%= user_id %>
  </h4>

  <form method="GET" action="/logout">
     <input type="submit" value="Logout">
  </form>

</body>
</html>