
<!DOCTYPE html>
<html lang="en">
<head>

  <title>TinyApp</title>
</head>
<body>
  <header> <% include partials/_header %> </header>

  <ul>


    <% for (let eachURL in urls) { %>
    <li>
      <form method="POST" action="/urls/<%= eachURL %>/delete">
        <%= eachURL %> : <%= urls[eachURL] %>
         <a href="urls/<%= eachURL %>">Edit</a>
        <input type="submit" value="Delete">
      </form>
    </li>
    <% }; %>


  </ul>


</body>
</html>
